<section class="border-b">
  <div class="mx-auto max-w-7xl border-x">
    <div class="mx-auto px-8 py-12 lg:pt-28 gradient-grid">
      <p class="text-3xl lg:text-9xl font-display text-black uppercase">
        Monoqrom.
      </p>
    </div>
  </div>
</section>
<section class="border-b">
  <div class="mx-auto max-w-7xl border-x">
    <div class="mx-auto px-8 py-12">
      <h1 class="text-3xl lg:text-3xl font-display text-black uppercase">
        Quick method to start your design projects in Figma and/or the code
        version built with Astro and Tailwind CSS.
      </h1>
    </div>
  </div>
</section>
<section class="border-b">
  <div class="mx-auto max-w-7xl border-x">
    <div class="mx-auto">
      <div>
        <div
          class="grid grid-cols-1 gap-0.5 mt-0.5 lg:grid-cols-4 sm:grid-cols-2">
          <video
            autoplay=""
            class="relative w-full aspect-video bg-zinc-100 rounded-2xl lg:p-20 outline-none p-4 shadow-normal col-span-full order-last"
            height="100%"
            width="100%"
            ><source
              src="https://d33wubrfki0l68.cloudfront.net/b3fb0d3c87038c6a1517d3220eedee8bead88964/419d0/monoqrom.mp4"
              type="video/mp4"
            /><text>Your browser does not support the video tag.</text></video
          >
          <div class="rounded-2xl bg-zinc-100 overflow-hidden">
            <img
              alt="hero"
              class="object-center aspect-square object-cover"
              src="/images/store/monoqrom/monoqrom1.jpg"
            />
            <div class="p-4 border-t">
              <p class="text-black/80 text-sm">
                Enjoy the elevated coolness factor by using it on your mobile
                device as well.
              </p>
            </div>
          </div>
          <div class="rounded-2xl bg-zinc-100 overflow-hidden">
            <img
              alt="hero"
              class="object-center aspect-square object-cover"
              src="/images/store/monoqrom/monoqrom2.jpg"
            />
            <div class="p-4 border-t">
              <p class="text-black/80 text-sm">
                The wallpapers are designed with a high resolution of 5120x2880.
              </p>
            </div>
          </div>
          <div class="rounded-2xl bg-zinc-100 overflow-hidden">
            <img
              alt="hero"
              class="object-center aspect-square object-cover"
              src="/images/store/monoqrom/monoqrom3.jpg"
            />
            <div class="p-4 border-t">
              <p class="text-black/80 text-sm">
                Your tablet also deserves some attention and customization.
              </p>
            </div>
          </div>
          <div class="rounded-2xl bg-zinc-100 overflow-hidden">
            <img
              alt="hero"
              class="object-center aspect-square object-cover"
              src="/images/store/monoqrom/monoqrom4.jpg"
            />
            <div class="p-4 border-t">
              <p class="text-black/80 text-sm">
                Enhance the coordination of your devices by adding it to your
                laptop.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-b">
  <div class="mx-auto max-w-7xl border-x gradient-grid">
    <div class="mx-auto px-8 py-12">
      <h1 class="text-3xl lg:text-3xl font-display text-black uppercase">
        with monoqrom a simple and easy process, you only need a basic
        understanding of Figma, Astro, and Tailwind CSS is an option.
      </h1>
    </div>
  </div>
</section>
<section class="border-b">
  <div class="mx-auto max-w-7xl border-x">
    <div
      class="gap-3 p-8 text-black mx-auto grid sm:grid-cols-2 gap-y-12 md:grid-cols-4 text-xs grid-cols-1">
      <div class="h-full flex flex-col justify-between">
        <p class="text-black/60">
          You have access to 200 sections and modules to design a landing page
          that includes all necessary features.
        </p>
      </div>
      <div class="h-full flex flex-col justify-between">
        <p class="text-black/60">
          You can easily personalize your design by quickly switching out
          components and using mobile-friendly layouts.
        </p>
      </div>
      <div class="h-full flex flex-col justify-between">
        <p class="text-black/60">
          Monoqrom enables you to modify and develop exceptional designs by
          blending various layouts without any particular restrictions.
        </p>
      </div>
      <div class="h-full flex flex-col justify-between">
        <p class="text-black/60">
          Make it stand out and give it a unique touch that reflects your brand
          and personal style.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="border-b">
  <div class="mx-auto max-w-7xl border-x">
    <div class="mx-auto px-8 py-12 gradient-grid">
      <div class="sm:flex sm:items-center sm:justify-between">
        <h3
          class="text-black font-semibold lg:text-6xl text-4xl tracking-tighter">
          Product info
        </h3>
        <div class="sm:mt-0 flex mt-3 sm:ml-4 gap-0.5">
          <a
            href="https://www.figma.com/community/file/1218582233340035747"
            class="w-full lg:w-auto bg-zinc-100 hover:text-blue duration-200 text-center py-4 lg:py-6 px-6 sm:rounded-full text-black uppercase text-xs font-display"
            >Preview in Figma ↗</a
          ><a
            href="https://monochrome-code.vercel.app/"
            class="w-full lg:w-auto bg-zinc-100 hover:text-blue duration-200 text-center py-4 lg:py-6 px-6 sm:rounded-full text-black uppercase text-xs font-display"
            >Preview all blocks ↗</a
          ><a
            href="https://unwrapped.lemonsqueezy.com/checkout/buy/fcb9acde-d4b9-4168-a48b-90ca4e98c122"
            class="w-full lg:w-auto bg-blue hover:bg-zinc-100 duration-200 text-center py-4 lg:py-6 px-6 sm:rounded-full text-white uppercase text-xs font-display hover:text-black"
            >Buy for $49</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-b">
  <div class="mx-auto max-w-7xl border-x">
    <div>
      <div>
        <ul class="w-full divide-y divide-white/20" role="list">
          <li class="px-8 py-12">
            <div
              class="grid grid-cols-1 lg:grid-cols-2 gap-6 items-start lg:gap-24">
              <div class="order-last space-y-6 divide-white/20 divide-y">
                <div>
                  <ul class="text-black/80 list-disc">
                    <li>
                      <strong>77</strong> sections for Figma from 9 different categories
                    </li><li>
                      <strong>77</strong> sections built with Astro and Tailwind
                      CSS from 9 different categories
                    </li><li><strong>77</strong> desktop sections</li><li>
                      <strong>77</strong> mobile sections
                    </li><li>
                      <strong>9</strong> different categories:<ul
                        class="lg:pl-8 list-disc pl-4">
                        <li>Navigation</li><li>Footers</li><li>Headers</li><li>
                          Centered sections
                        </li><li>L eft sections</li><li>Right sections</li><li>
                          Grids
                        </li><li>Content</li><li>Forms</li><li>
                          Testimonials
                        </li><li>Pricing</li><li>Gallery</li>
                      </ul>
                    </li><li>
                      <strong>2</strong> templates in desktop and mobile version
                    </li><li>
                      Use it for personal or professional purposes
                    </li><li>Use it anywhere license</li><li>
                      Lifetime license
                    </li>
                  </ul>
                </div>
              </div>
              <div class="items-center inline-flex gap-3">
                <p
                  class="text-black text-2xl font-bold leading-none tracking-tight">
                  What's included?
                </p>
              </div>
            </div>
          </li>
          <li class="px-8 py-12">
            <div
              class="grid grid-cols-1 lg:grid-cols-2 gap-6 items-start lg:gap-24">
              <div class="order-last space-y-6 divide-white/20 divide-y">
                <div>
                  <ul class="text-black/80 list-disc">
                    <li>Figma</li><li>
                      HTML with Astro &amp; Tailwind CSS &amp; Alpine.js
                    </li>
                  </ul>
                </div>
              </div>
              <div class="items-center inline-flex gap-3">
                <p
                  class="text-black text-2xl font-bold leading-none tracking-tight">
                  Platforms
                </p>
              </div>
            </div>
          </li>
          <li class="px-8 py-12" id="license">
            <div
              class="grid grid-cols-1 lg:grid-cols-2 gap-6 items-start lg:gap-24">
              <div class="order-last space-y-6 divide-white/10 divide-y">
                <dl class="sm:divide-white/10 sm:divide-y">
                  <div class="py-4 sm:py-5 sm:gap-4 sm:grid sm:grid-cols-3">
                    <dt class="text-black font-medium">
                      <strong>Users</strong>
                    </dt><dd class="text-black/80 mt-1 sm:mt-0 sm:col-span-2">
                      1
                    </dd>
                  </div><div
                    class="py-4 sm:py-5 sm:gap-4 sm:grid sm:grid-cols-3">
                    <dt class="text-black font-medium">
                      <strong>Projects</strong>
                    </dt><dd class="text-black/80 mt-1 sm:mt-0 sm:col-span-2">
                      Unlimited
                    </dd>
                  </div><div
                    class="py-4 sm:py-5 sm:gap-4 sm:grid sm:grid-cols-3">
                    <dt class="text-black font-medium">
                      <strong>Usage</strong>
                    </dt><dd class="text-black/80 mt-1 sm:mt-0 sm:col-span-2">
                      Testing, personal and commercial
                    </dd>
                  </div><div
                    class="py-4 sm:py-5 sm:gap-4 sm:grid sm:grid-cols-3">
                    <dt class="text-black font-medium">
                      <strong>TLDR;</strong>
                    </dt><dd class="text-black/80 mt-1 sm:mt-0 sm:col-span-2">
                      You can use monoqrom. personal license for unlimited
                      personal and client projects, but you are limited to 1
                      user per license when purchasing the personal license.
                    </dd>
                  </div><div class="py-4 sm:py-5 prose">
                    <dd class="text-black/80 mt-1 sm:mt-0">
                      By purchasing monoqrom you are being granted a license to
                      use these files for specific uses under certain
                      conditions.<ul class="text-black/80 mt-4 list-disc">
                        <li>
                          Unwrapped grants the user an ongoing, non-exclusive,
                          worldwide license to utilize the digital work
                        </li><li>
                          You are licensed to use the Item to create unlimited
                          End Products for yourself or for your clients and the
                          End Product may be sold, licensed, sublicensed or
                          freely distributed.
                        </li>
                      </ul><div class="mt-6">
                        <p class="font-semibold text-black">
                          Personal License:
                        </p><p class="text-black/80 mt-4">
                          Personal License is defined as using purchased “Items”
                          individually and not as a part of a company, business,
                          non-profit, or any other organization of any kind.
                          However, Personal Use is also defined as using
                          purchased “Items” for Commercial Work, company
                          projects, businesses and so on, if you aren't employed
                          by such enterprises. We define Commercial Work as any
                          work that isn't done for Personal Use. Synonymous
                          terms include Contracted Work and Client Work.
                        </p>
                      </div><div class="mt-6">
                        <p class="font-semibold text-black">You can:</p><ul
                          class="text-black/80 mt-4 list-disc">
                          <li>
                            Use monoqrom. to create unlimited End Products.
                          </li><li>
                            Modify the monoqrom to create derivative components
                            and UI Kits. Those monoqrom. are subject to this
                            license.
                          </li><li>
                            Use monoqrom. to create unlimited End Products for
                            unlimited Clients.
                          </li><li>
                            Use monoqrom. to create End Products where the End
                            Product is sold to End Users.
                          </li><li>
                            Use monoqrom. to create End Products that are open
                            source and freely available to End Users.
                          </li>
                        </ul>
                      </div><div class="mt-6">
                        <p class="text-black font-semibold">You cannot:</p><ul
                          class="text-black/80 mt-4 list-disc">
                          <li>
                            Use the monoqrom to create End Products that are
                            designed to allow an End User to build their own End
                            Products using monoqrom or derivatives of monoqrom.
                          </li><li>
                            Re-distribute monoqrom or derivatives of monoqrom
                            separately from an End Product.
                          </li><li>
                            Use monoqrom to create End Products that are the
                            property of any individual or entity other than the
                            Licensee or Clients of the Licensee.
                          </li><li>
                            Use monoqrom to produce anything that may be deemed
                            by Unwrapped AB, in their sole and absolute
                            daiscretion, to be competitive or in conflict with
                            the business of Unwrapped AB.
                          </li>
                        </ul>
                      </div>
                    </dd>
                  </div>
                </dl>
              </div><div class="items-center inline-flex gap-3">
                <p
                  class="text-black text-2xl font-bold leading-none tracking-tight">
                  License
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
