<section class="border-b    ">
  <div class="mx-auto max-w-7xl border-x    ">
    <div class="mx-auto px-8 py-12 lg:pt-28 gradient-grid">
      <p class="text-3xl lg:text-9xl font-display text-black uppercase">
        Onda.
      </p>
    </div>
  </div>
</section>
<section class="border-b    ">
  <div class="mx-auto max-w-7xl border-x    ">
    <div class="mx-auto px-8 py-12">
      <h1 class="text-3xl lg:text-3xl font-display text-black uppercase">
        16 Wave wallpapers to use on your projects or as wallpapers
      </h1>
    </div>
  </div>
</section>
<section class="border-b    ">
  <div class="mx-auto max-w-7xl border-x    ">
    <div class="mx-auto">
      <div>
        <div
          class="grid grid-cols-1 gap-0.5 mt-0.5 lg:grid-cols-4 sm:grid-cols-2">
          <img
            class="col-span-full rounded-2xl order-last"
            src="/images/store/onda/carousel.svg"
            alt=""
          />
          <div class="rounded-2xl bg-zinc-100 overflow-hidden">
            <img
              alt="hero"
              class="object-center aspect-square object-cover"
              src="/images/store/onda/onda1.jpg"
            />
            <div class="p-4 border-t    ">
              <p class="text-black/80 text-sm">
                Enjoy the elevated coolness factor by using it on your mobile
                device as well.
              </p>
            </div>
          </div>
          <div class="rounded-2xl bg-zinc-100 overflow-hidden">
            <img
              alt="hero"
              class="object-center aspect-square object-cover"
              src="/images/store/onda/onda2.jpg"
            />
            <div class="p-4 border-t    ">
              <p class="text-black/80 text-sm">
                The wallpapers are designed with a high resolution of 5120x2880.
              </p>
            </div>
          </div>
          <div class="rounded-2xl bg-zinc-100 overflow-hidden">
            <img
              alt="hero"
              class="object-center aspect-square object-cover"
              src="/images/store/onda/onda3.jpg"
            />
            <div class="p-4 border-t    ">
              <p class="text-black/80 text-sm">
                Your tablet also deserves some attention and customization.
              </p>
            </div>
          </div><div class="rounded-2xl bg-zinc-100 overflow-hidden">
            <img
              alt="hero"
              class="object-center aspect-square object-cover"
              src="/images/store/onda/onda4.jpg"
            />
            <div class="p-4 border-t    ">
              <p class="text-black/80 text-sm">
                Enhance the coordination of your devices by adding it to your
                laptop.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-b    ">
  <div class="mx-auto max-w-7xl border-x    ">
    <div class="mx-auto px-8 py-12 gradient-grid">
      <div class="sm:flex sm:items-center sm:justify-between">
        <h3
          class="text-black font-semibold lg:text-6xl text-4xl tracking-tighter">
          Product info
        </h3>
        <div class="sm:mt-0 flex mt-3 sm:ml-4">
          <a
            href="https://unwrapped.lemonsqueezy.com/checkout/buy/4ee28f02-424d-4bfa-af05-6fb8a891ca83"
            class="w-full lg:w-auto bg-blue hover:bg-zinc-100 duration-200 text-center py-4 lg:py-6 px-6 sm:rounded-full text-white uppercase text-xs font-display hover:text-black"
            >Buy for $3</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-b    ">
  <div class="mx-auto max-w-7xl border-x    ">
    <div>
      <div>
        <ul class="w-full divide-y divide-white/20" role="list">
          <li class="px-8 py-12">
            <div
              class="grid grid-cols-1 lg:grid-cols-2 gap-6 items-start lg:gap-24">
              <div class="order-last space-y-6 divide-white/20 divide-y">
                <div>
                  <ul class="text-black/80 list-disc">
                    <li>14 5k ( 5120x2880 ) dark backgrounds</li><li>
                      14 5k ( 5120x2880 ) light backgrounds
                    </li><li>PNG Files</li><li>JPG Files</li><li>
                      SVG Files
                    </li><li>
                      Use it for personal or professional purposes
                    </li><li>Use it anywhere license</li><li>
                      Lifetime license
                    </li>
                  </ul>
                </div>
              </div><div class="items-center inline-flex gap-3">
                <p
                  class="text-black text-2xl font-bold leading-none tracking-tight">
                  What's included?
                </p>
              </div>
            </div>
          </li>
          <li class="px-8 py-12" id="license">
            <div
              class="grid grid-cols-1 lg:grid-cols-2 gap-6 items-start lg:gap-24">
              <div class="order-last space-y-6 divide-white/20 divide-y">
                <dl class="sm:divide-white/20 sm:divide-y">
                  <div class="py-4 sm:py-5 sm:gap-4 sm:grid sm:grid-cols-3">
                    <dt class="text-black font-medium">
                      <strong>Users</strong>
                    </dt><dd class="text-black/80 mt-1 sm:mt-0 sm:col-span-2">
                      1
                    </dd>
                  </div><div
                    class="py-4 sm:py-5 sm:gap-4 sm:grid sm:grid-cols-3">
                    <dt class="text-black font-medium">
                      <strong>Projects</strong>
                    </dt><dd class="text-black/80 mt-1 sm:mt-0 sm:col-span-2">
                      Unlimited
                    </dd>
                  </div><div
                    class="py-4 sm:py-5 sm:gap-4 sm:grid sm:grid-cols-3">
                    <dt class="text-black font-medium">
                      <strong>Usage</strong>
                    </dt><dd class="text-black/80 mt-1 sm:mt-0 sm:col-span-2">
                      Testing, personal and commercial
                    </dd>
                  </div><div
                    class="py-4 sm:py-5 sm:gap-4 sm:grid sm:grid-cols-3">
                    <dt class="text-black font-medium">
                      <strong>TLDR;</strong>
                    </dt><dd class="text-black/80 mt-1 sm:mt-0 sm:col-span-2">
                      With a Fonda Personal License, you can use the assets for
                      an unlimited number of personal and client projects.
                      However, when purchasing this type of license, it is
                      restricted to only one user per license.
                    </dd>
                  </div><div class="py-4 sm:py-5">
                    <dd class="text-black/80 mt-1 sm:mt-0">
                      The Commercial License gives permission to utilize the
                      downloaded assets for commercial projects such as custom
                      work done for clients, internal company purposes, physical
                      and digital advertisements (with no limit on the number of
                      impressions), and in business social media accounts owned
                      by the license holder. However, the license prohibits
                      using the assets to create products for sale or to develop
                      apps or games.<div class="mt-6">
                        <p class="text-black font-semibold">
                          Can be used for:
                        </p><ul class="mt-4 list-disc text-black">
                          <li>
                            Business social media account owned and managed by
                            the customer of license
                          </li><li>
                            Digital paid advertisements with unlimited
                            impressions
                          </li><li>
                            Physical advertisements for local market
                          </li><li>Custom work for a single client</li><li>
                            Internal purposes in companies
                          </li><li>Design for native apps or web apps</li>
                        </ul>
                      </div><div class="mt-6">
                        <p class="text-black font-semibold">
                          Can't be used for:
                        </p><ul class="mt-4 list-disc text-black">
                          <li>End products for sale</li><li>
                            Modifying or manipulating the product to use as a
                            non-majority part of a project for sale
                          </li><li>
                            Reselling or redistributing of the products
                          </li><li>Assignment of copyright or owner rights</li>
                        </ul>
                      </div>
                    </dd>
                  </div>
                </dl>
              </div><div class="items-center inline-flex gap-3">
                <p
                  class="text-black text-2xl font-bold leading-none tracking-tight">
                  License
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
