---
import Marquee from "../global/Marquee.astro";
---

<section>
  <div class="mx-auto max-w-7xl border-b border-x bg-white">
    <div class="mx-auto">
      <div class="mx-auto px-8 py-12 lg:pt-28">
        <h1 class="text-3xl lg:text-7xl font-display text-black uppercase">
          Maximize your online presence with an engaging <span
            class="bg-blue text-white">landing page</span
          >
          that delivers <span class="bg-blue text-white"
            >outstanding results.</span
          >
        </h1>
      </div>
      <Marquee />
    </div>
  </div>
</section>

<section>
  <div class="mx-auto max-w-7xl border-x bg-white border-b">
    <div
      class="gap-3 p-8 text-black mx-auto grid sm:grid-cols-2 gap-y-12 md:grid-cols-4 text-xs grid-cols-1">
      <div class="h-full flex flex-col justify-between">
        <p class="text-zinc-500">
          Michael is a true rarity, effortlessly bridging the realms of design
          and coding. His designs are masterfully polished, striking a perfect
          balance between being on trend and remaining distincltly original. The
          advantage we gained from having Michael iterate on designs directly in
          code far surpassed our expectations. We firmly believe that this
          approach, which eliminates the need for multiple design steps, not
          only accelerates the process but also yields superior results.
        </p>
        <div class="mt-3">
          <span class="block font-semibold mt-3">Robert Austin</span>
          <span class="block text-zinc-500">Founder of Built At Lightspeed</span
          >
        </div>
      </div>
      <div class="h-full flex flex-col justify-between">
        <p class="text-zinc-500">
          Michael has a great eye for design and he is an absolute pleasure to
          work with. I definitely plan on working with him on future projects of
          mine. I wholeheartedly recommend him to anyone seeking standout,
          quality work.
        </p>
        <div class="mt-3">
          <span class="block font-semibold mt-3">Tony Lea</span>
          <span class="block text-zinc-500">Founder of Dev Dojo</span>
        </div>
      </div>

      <div class="h-full flex flex-col justify-between">
        <p class="text-zinc-500">
          Michael has helped me with many designs, and I couldn't follow his
          working speed when we worked together. His designs are slick, and he
          delivers a lot of value; he is constantly iterating his designs and
          making improvements.
        </p>
        <div class="mt-3">
          <span class="block font-semibold mt-3">Gabriel Perales</span>
          <span class="block text-zinc-500">Creator of Wicked Backgrunds</span>
        </div>
      </div>
      <div class="h-full flex flex-col justify-between">
        <p class="text-zinc-500">
          Michael is a rare breed of designer & developer that understands
          business needs. He leveraged his previous experience to build out a
          few landing pages very quickly for Versoly
        </p>
        <div class="mt-3">
          <span class="block font-semibold mt-3">Volkan Kaya</span>
          <span class="block text-zinc-500">Founder of Versoly</span>
        </div>
      </div>
    </div>
  </div>
</section>
