---
import Marquee from "../global/Marquee.astro";
---

<section class="border-b border-white">
  <div class="mx-auto max-w-7xl border-x border-white">
    <div class="mx-auto">
      <div class="mx-auto px-8 py-12 lg:pt-28 gradient-grid">
        <h1 class="text-3xl lg:text-7xl font-display text-white uppercase">
          Maximize your online presence with a unique and engaging one-page
          website that delivers outstanding results.
        </h1>
      </div>
      <Marquee />
      <div
        class="gap-3 p-8 text-white mx-auto grid sm:grid-cols-2 gap-y-12 md:gap-y-0 md:grid-cols-4 text-xs grid-cols-1">
        <div class="h-full flex flex-col justify-between">
          <p>
            I've been following Michael's career for a while now and it's
            amazing just how quickly the quality and variety of his work has
            developed and evolved! He's always learning or working on something
            new and constantly refining his work to be the best! His attention
            to detail, 'can do' attitude and work ethic is refreshing and he
            will definitely help you succeed!
          </p>
          <div class="mt-3">
            <span class="block font-semibold mt-3">Amrit Nagi</span>
            <span class="block">Founder of Tailwind Toolbox</span>
          </div>
        </div>
        <div class="h-full flex flex-col justify-between">
          <p>
            Michael has helped me with many designs, and I couldn't follow his
            working speed when we worked together. His designs are slick, and he
            delivers a lot of value; he is constantly iterating his designs and
            making improvements.
          </p>
          <div class="mt-3">
            <span class="block font-semibold mt-3">Gabriel Perales</span>
            <span class="block">Software Engineer at Cabify</span>
          </div>
        </div>
        <div class="h-full flex flex-col justify-between">
          <p>
            Michael is a rare breed of designer & developer that understands
            business needs. He leveraged his previous experience to build out a
            few landing pages very quickly for Versoly
          </p>
          <div class="mt-3">
            <span class="block font-semibold mt-3">Volkan Kaya</span>
            <span class="block">Founder of Versoly</span>
          </div>
        </div>
        <div class="h-full flex flex-col justify-between">
          <p>
            I have had the absolute pleasure of working with Michael in the past
            when building my blog Raspada with its Backend UI or to building a
            private application for a leading hearing care company. Michael’s
            knowledge and attention to detail is second to none, and he really
            understands and listens to his clients (me).
          </p>
          <div class="mt-3">
            <span class="block font-semibold mt-3">Mike Jones</span>
            <span class="block">Editor at Raspada blog</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
