<section class="border-b border-white bg-black">
  <div class="mx-auto max-w-7xl border-x border-white">
    <div class="p-8">
      <p class="text-3xl lg:text-6xl font-display text-white uppercase">
        my services; Explained
      </p>
    </div>
    <div
      class="gap-3 p-8 text-white mx-auto grid sm:grid-cols-2 gap-y-12 md:gap-y-0 md:grid-cols-4 text-xs grid-cols-1">
      <div>
        <div>
          <span class="text-white font-display text-xl">
            Design in Figma or Browser:</span
          >
        </div>
        <p class="mt-3">
          I offer professional design services using Figma, a powerful design
          tool, or I can work directly in the browser. As a skilled designer, I
          will create visually appealing and user-friendly designs specifically
          tailored to your needs and requirements.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl">
            Redesign of Existing Projects:</span
          >
        </div>
        <p class="mt-3">
          If you have an existing project that needs a fresh look or improved
          functionality, I can offer my assistance. I will personally analyze
          your current design and make strategic enhancements to transform it
          into a modern and captivating website.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl">
            Convert to Tailwind CSS and Astro:</span
          >
        </div>
        <p class="mt-3">
          By converting your project to these frameworks, you can expect faster
          load times and improved user experiences. Let me assist you in
          enhancing your existing project, making it more efficient and
          user-friendly. Together, we can leverage the power of Tailwind CSS and
          Astro to bring your project to new heights.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl">
            Development with Tailwind & Astro:</span
          >
        </div>
        <p class="mt-3">
          As an individual, my expertise lies in web development, harnessing the
          powerful combination of Tailwind CSS and Astro. I can bring your ideas
          to life by creating high-quality, responsive, and customizable
          websites that perfectly align with your brand and effectively meet
          your business goals. With my skills in Tailwind CSS and Astro, I will
          ensure that your website is visually appealing, functional, and
          tailored to your specific needs, resulting in a compelling online
          presence for your brand.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="border-b border-white bg-black">
  <div class="mx-auto max-w-7xl border-x border-white">
    <div class="bg-transparent hover:bg-white group duration-200">
      <a
        class="items-center inline-flex w-full focus:outline-disc hoder:rounded-0 bg-white font-display rounded-full duration-200 focus:bg-black text-black focus:ring-0 font-medium justify-center px-4 py-6 text-center text-3xl lg:text-6xl lg:py-12"
        href="mailto:michael@andreuzza.com">Get a quote</a
      >
    </div>
  </div>
</section>
