<section>
  <div class="p-8 max-w-7xl mx-auto border-gray border-b border-x">
    <div class="w-full text-left items-center justify-between md:inline-flex">
      <div>
        <h3 class="font-light text-white text-2xl">My services; Explained</h3>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="border-gray border-b border-x max-w-7xl mx-auto">
    <div
      class="text-white divide-gray grid grid-cols-1 text-xs lg:divide-x md:grid-cols-4">
      <div class="p-8 flex flex-col">
        <div class="font-light">Design in Figma or Browser:</div><p
          class="text-neutral-400 mt-3">
          I offer professional design services using Figma or I can work
          directly in the browser. As a skilled designer, I will create visually
          appealing and user-friendly designs specifically tailored to your
          needs and requirements.
        </p>
      </div><div class="p-8 flex flex-col">
        <div class="font-light">Redesign of Existing Projects:</div><p
          class="text-neutral-400 mt-3">
          If you have an existing project that needs a fresh look or improved
          functionality, I can offer my assistance. I will personally analyze
          your current design and make strategic enhancements to transform it
          into a modern and captivating website.
        </p>
      </div>
      <div class="p-8 flex flex-col">
        <div class="font-light">Convert to Tailwind CSS and Astro:</div><p
          class="text-neutral-400 mt-3">
          By converting your project, you can expect faster load times and
          improved user experiences. Let me assist you in enhancing your
          existing project, making it more efficient and user-friendly.
          Together, we can leverage the power of Tailwind CSS and Astro to bring
          your project to new heights.
        </p>
      </div>
      <div class="p-8 flex flex-col">
        <div class="font-light">Development with Tailwind & Astro:</div><p
          class="text-neutral-400 mt-3">
          I specialize in web development using Tailwind CSS and Astro. I can
          create visually appealing, functional, and customized websites that
          align with your brand and meet your business goals. With my expertise,
          your online presence will be compelling and tailored to your specific
          needs.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="p-8 max-w-7xl mx-auto border-gray border-b border-x">
    <div class="w-full text-left items-center justify-between md:inline-flex">
      <div>
        <h3 class="font-light text-white text-2xl">Reach out</h3>
      </div>
      <div class="lg:mt-0 lg:ml-auto mt-6">
        <a
          class="text-white items-center bg-gray border border-transparent duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/5 inline-flex px-6 py-2 ring-1 ring-transparent rounded-full text-sm"
          href="mailto:michael@andreuzza.com">GET A QUOTE</a
        >
      </div>
    </div>
  </div>
</section>
