<section class="border-b border-white/20 gradient-grid">
  <div class="mx-auto max-w-7xl border-x border-white/20">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-xl lg:text-6xl font-display text-white uppercase">
        Michael's is a comprehensive design, redesign, and development service
        that specializes in crafting exceptional one-page websites to captivate
        users and leave a lasting impression.
      </p>
    </div>
  </div>
</section>
<section class="border-b border-white/20">
  <div class="mx-auto max-w-7xl border-x border-white/20">
    <div class="mx-auto max-w-7xl p-8">
      <p class="lg:text-3xl font-display text-white uppercase">
        I specialize in developing static websites using Astro and Tailwind CSS.
        By leveraging these frameworks, I create tailored and optimized websites
        that effectively share startup stories, connect with audiences, and
        create memorable experiences. Let me help you achieve your goals with a
        remarkable online presence.
      </p>
    </div>
  </div>
</section>
