<section class="border-b border-white gradient-grid">
  <div class="mx-auto max-w-7xl border-x border-white">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-xl lg:text-6xl font-display text-white uppercase">
        Michael's is a comprehensive design, redesign, and development service
        that specializes in crafting exceptional one-page websites to captivate
        users and leave a lasting impression.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="lg:text-3xl font-display text-white uppercase">
        We believe in successfully sharing startup stories, connecting with
        audiences, and creating memorable experiences through our work. Our
        expertise lies in developing static websites using Astro and Tailwind
        CSS, allowing us to tailor our offerings to your specific needs and
        optimize them to achieve your goals
      </p>
    </div>
  </div>
</section>
