<section>
  <div class="p-8 max-w-7xl mx-auto border-gray border-b border-x lg:py-32">
    <div class="max-w-2xl">
      <span class="font-light text-neutral-400">About</span><h3
        class="font-light text-white mt-6 text-2xl">
        Unwrapped is a comprehensive design, redesign, and development service
        that specializes in crafting exceptional one-page websites to captivate
        users and leave a lasting impression.
      </h3><p class="text-neutral-400 mt-6">
        I specialize in developing static websites using Astro and Tailwind CSS.
        By leveraging these frameworks, I create tailored and optimized websites
        that effectively share startup stories, connect with audiences, and
        create memorable experiences. Let me help you achieve your goals with a
        remarkable online presence.
      </p>
    </div>
  </div>
</section>
