<section>
  <div class="p-8 max-w-7xl mx-auto border-gray border-b border-x">
    <div class="w-full text-left items-center justify-between md:inline-flex">
      <div>
        <h3 class="font-light text-white text-2xl">
          Checkout all our projects
        </h3>
      </div>
      <div class="lg:mt-0 lg:ml-auto mt-6">
        <a
          class="text-white items-center bg-gray border border-transparent duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white/5 inline-flex px-6 py-2 ring-1 ring-transparent rounded-full text-sm"
          href="https://michaelandreuzza.com/">SEE ALL WORK</a
        >
      </div>
    </div>
  </div>
</section>
<section>
  <div class="border-gray border-b border-x max-w-7xl mx-auto">
    <ul class="divide-gray grid lg:divide-x md:grid-cols-3 grid-col-1">
      <li class="p-8">
        <img class="border-gray border" alt="img" src="/images/work/buio.png" />
      </li>
      <li class="p-8">
        <img
          class="border-gray border"
          alt="img"
          src="/images/work/flabbergasted.png"
        />
      </li>
      <li class="p-8">
        <img
          class="border-gray border"
          alt="img"
          src="/images/work/aubergine.png"
        />
      </li>
    </ul>
  </div>
</section>
