<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:py-32">
    <div class="space-y-24">
      <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl lg:text-6xl font-display text-black uppercase">
          The author
        </h1>
        <div class="mt-6 space-y-6">
          <p class="text-zinc-500">
            Simplexity Theme, the creative mastermind behind the Simplexity
            blog. With a passion for writing and a keen eye for curation,
            Simplexity Theme brings you the latest and greatest in all things
            related to lifestyle, culture, and the arts.
          </p>
          <p class="text-zinc-500">
            With a unique perspective and a dedication to staying on top of
            current trends, Simplexity Theme is your go-to source for insightful
            commentary and thought-provoking analysis. Whether you're looking
            for tips on how to elevate your personal style, or want to stay
            up-to-date on the latest trends in music, film, and literature,
            Simplexity Theme has got you covered.
          </p>
          <p class="text-zinc-500">
            So sit back, relax, and let Simplexity Theme take you on a journey
            of discovery and exploration, as you delve into the exciting world
            of Simplexity.
          </p>
        </div>
      </div>
      <div class="mt-6 mx-auto max-w-3xl text-left">
        <ul role="list" class="mx-auto">
          <li class="flex flex-col lg:flex-row w-full gap-3 lg:items-center">
            <img
              class="h-24 w-24 rounded-full object-cover shrink-0"
              src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt=""
            />
            <div class="w-full">
              <h3 class="text-lg lg:text-xl text-black uppercase font-display">
                Michael Foster
              </h3>
              <p class="text-sm leading-6 text-zinc-500">
                Author of Simplexity
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
