<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:py-32">
    <div class="space-y-24">
      <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl lg:text-6xl font-display text-white uppercase">
          Our pricing
        </h1>
      </div>
      <div class="mt-6 mx-auto max-w-3xl text-left">
        <div>
          <div class="grid grid-cols-1 gap-1 md:grid-cols-3 mt-4">
            <div class="relative border /20 flex lg:p-8 p-4 bg-white">
              <div class="flex flex-col flex-1">
                <ul
                  class="flex flex-col list-disc list-inside text-zinc-500"
                  role="list">
                  <li class="block font-display uppercase text-white">
                    12 Months — <strong>$99</strong>
                  </li>
                  <li class="items-center text-sm flex mt-1">
                    Subscribe and enjoy our newsletter for 12 months
                  </li>
                  <li class="text-sm font-medium text-white mt-6">
                    Unlimited Articles
                  </li>
                  <li class="text-sm font-medium text-white mt-2">
                    Zero Advertising
                  </li>
                  <li class="text-sm font-medium text-white mt-2">
                    No card required
                  </li>
                </ul>
                <div class="mt-6">
                  <a
                    class="iitems-center inline-flex w-full focus:outline-disc bg-white border border-zinc-300 duration-200 focus:ring-2 focus:ring-black focus:ring-offset-2 font-medium hover:bg-zinc-50 justify-center px-4 py-1 rounded-full text-white text-center text-sm"
                    href="#">Buy for $99</a
                  >
                </div>
              </div>
            </div><div
              class="relative border /20 bg-white flex lg:p-8 md:order-disc order-first p-4">
              <div class="flex flex-col flex-1">
                <ul
                  class="flex flex-col list-disc list-inside text-zinc-500"
                  role="list">
                  <li class="block font-display uppercase text-white">
                    6 Months — <strong>$49</strong>
                  </li>
                  <li class="items-center text-sm flex mt-1">
                    Subscribe and enjoy our newsletter for 6 months
                  </li>
                  <li class="text-sm font-medium text-white mt-6">
                    500 Articles a month
                  </li>
                  <li class="text-sm font-medium text-white mt-2">
                    Little Advertising
                  </li>
                  <li class="text-sm font-medium text-white mt-2">
                    No card required
                  </li>
                </ul>
                <div class="mt-6">
                  <a
                    class="items-center inline-flex w-full border duration-200 focus:ring-2 focus:ring-offset-2 justify-center px-4 py-1 rounded-full text-sm bg-black border-white focus:ring-white hover:bg-black/10 hover:text-white ring-1 ring-transparent text-white"
                    href="#">Buy for $49</a
                  >
                </div>
              </div>
            </div>
            <div class="relative border /20 flex lg:p-8 p-4 bg-white">
              <div class="flex flex-col flex-1">
                <ul
                  class="flex flex-col list-disc list-inside text-zinc-500"
                  role="list">
                  <li class="block font-display uppercase text-white">
                    3 Months — <strong>$0</strong>
                  </li>
                  <li class="items-center text-sm flex mt-1">
                    Subscribe and enjoy our newsletter for 3 months
                  </li>
                  <li class="text-sm font-medium text-white mt-6">
                    100 Articles a month
                  </li>
                  <li class="text-sm font-medium text-white mt-2">
                    Advertising
                  </li>
                  <li class="text-sm font-medium text-white mt-2">
                    Card required
                  </li>
                </ul>
                <div class="mt-6">
                  <a
                    class="items-center inline-flex w-full focus:outline-disc bg-white border border-zinc-300 duration-200 focus:ring-2 focus:ring-black focus:ring-offset-2 font-medium hover:bg-zinc-50 justify-center px-4 py-1 rounded-full text-white text-center text-sm"
                    href='#"'>Download</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
