<section class="border-b">
  <div class="mx-auto max-w-7xl border-x">
    <div class="mx-auto max-w-7xl p-8 lg:pt-28">
      <p class="text-xl lg:text-9xl font-display text-black uppercase">
        404 - The page you were looking for is not here, yo!.
      </p>
    </div>
  </div>
</section>

<section class="border-b">
  <div class="mx-auto max-w-7xl border-x">
    <div class="bg-transparent hover:bg-blue group duration-200">
      <a
        class="items-center inline-flex w-full focus:outline-disc hoder:rounded-0 bg-blue font-display rounded-full duration-200 text-black focus:ring-0 font-medium justify-center px-4 py-6 text-center text-3xl lg:text-6xl lg:py-12"
        href="/">Ge o back home</a
      >
    </div>
  </div>
</section>
