<footer>
  <div
    class="p-8 max-w-7xl mx-auto border-gray border-b border-x lg:border-b-0">
    <div
      class="md:items-center text-center md:text-left flex flex-col md:flex-row justify-between mx-auto w-full">
      <p class="uppercase text-white">Unwrapped</p>

      <p class="text-sm text-white">
        © Copyright <span>2023</span>. All rights reserved.
      </p>
    </div>
  </div>
</footer>
