<footer class="border-b border-white bg-accent-500">
  <div class="mx-auto max-w-7xl border-x border-white">
    <div class="items-start justify-between mx-auto w-full p-8">
      <div class="text-white text-center mx-auto items-center">
        <p class="text-2xl uppercase font-display">MICHAEL'S</p><p
          class="mx-auto mt-1 text-sm">
          Designed and built in the Åland Islands by <a
            href="https://twitter.com/Mike_Andreuzza">Michael Andreuzza</a
          >.
        </p>
      </div>
    </div>
    <div class="flex-col flex border-t border-white p-8 mx-auto">
      <p class="text-sm text-white text-center">
        © Copyright <span>2023</span>. All rights reserved.
      </p>
    </div>
  </div>
</footer>
