<section class="border-y border-white">
  <div class="text-white mx-auto">
    <div class="relative mx-auto overflow-hidden overflow-x-hidden py-2">
      <div class="w-full justify-between grid">
        <div
          class="absolute inset-0 from-black left-0 via-transparent w-44 z-10 bg-gradient-to-r">
        </div>
        <div
          class="absolute inset-0 from-black left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
        </div>
      </div>
      <div
        class="items-center relative animate-marquee flex font-black gap-4 font-display tracking-widest uppercase whitespace-nowrap">
        spots open <span class="hidden lg:inline">✺</span>spots open <span
          class="hidden lg:inline">✺</span
        > spots open <span class="hidden lg:inline">✺</span> spots open <span
          class="hidden lg:inline">✺</span
        >spots open <span class="hidden lg:inline">✺</span> spots open <span
          class="hidden lg:inline">✺</span
        > spots open <span class="hidden lg:inline">✺</span>spots open <span
          class="hidden lg:inline">✺</span
        > spots open <span class="hidden lg:inline">✺</span> spots open
      </div>
    </div>
  </div>
</section>
