<section
  class="border-b border-white bg-black border-t lg:fixed lg:z-50 w-full mx-auto 2xl:max-w-7xl justify-center">
  <div class="w-full mx-auto bg-black justify-center">
    <div
      class="w-full mx-auto max-w-7xl border-x border-white flex flex-col lg:flex-row lg:items-center lg:justify-between">
      <div
        class="flex flex-col sm:px-8 text-center md:px-0 sm:flex-row items-center justify-between text-white w-full">
        <a
          class="items-center text-white md:px-8 md:text-center py-4 text-xs inline-flex font-display uppercase"
          href="/"
          ><span
            >Michael's. ⏤ <span class="font-black"
              >Landing page Design, Redesign & Development</span
            ></span
          >
        </a>

        <a
          class="lg:ml-auto w-full lg:w-auto bg-white hover:bg-black duration-200 text-center py-4 lg:py-6m px-6 sm:rounded-full text-black uppercase text-xs font-display hover:text-white"
          href="mailto:michael@andreuzza.com">Get a quote</a
        >
      </div>
    </div>
  </div>
</section>
