<section
  class="border-b bg-white border-t lg:fixed lg:z-50 w-full mx-auto 2xl:max-w-7xl justify-center">
  <div class="w-full mx-auto bg-white justify-center">
    <div
      class="w-full mx-auto max-w-7xl border-x flex flex-col lg:flex-row lg:items-center lg:justify-between">
      <div
        class="flex flex-col sm:px-8 text-center md:px-0 sm:flex-row items-center justify-between text-black w-full">
        <a
          class="items-center text-black md:px-8 md:text-center py-4 text-xs inline-flex font-display uppercase"
          href="/"
          ><span
            >Unwrapped. ⏤ <span class="font-black"
              >Landing page Design, Redesign & Development</span
            ></span
          >
        </a>

        <a
          class="items-center text-black md:px-8 md:text-center py-4 text-xs lg:flex font-display uppercase hidden ml-auto"
          href="https://store.michaelandreuzza.com/"
          >store
        </a>
        <a
          class="w-full lg:w-auto bg-blue duration-200 text-center py-4 lg:py-6 px-6 sm:rounded-full text-white uppercase text-xs font-display hover:text-black hover:bg-zinc-100"
          href="mailto:michael@andreuzza.com">Get a quote</a
        >
      </div>
    </div>
  </div>
</section>
